<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Dashboard</title>
</head>
<body>

<div layout:fragment="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>This is your Admin Dashboard  DASHBOARD AMMINISTRATORE</h2>

    <form class="form-signin"  th:action="@{/annunci}" method="get">
        <button class="btn btn-md btn-success btn-block" type="Submit">Vedi Annunci</button>
    </form>
</div>

</body>
</html>