<!DOCTYPE html>
<html lang="en" layout:decorate="~{layoutdevice}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >


<div class="container-fluid" layout:fragment="contenutopagina">
    <div class="row">
    HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
    <div class="row">
        HOME DATORE
    </div>
</div>


</body>
</html>