<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="Cerca" class="tabcontent" >

    <section id="registrazionewin2" th:fragment="signupdatore">

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-md-offset-4">

                    <form class="form-signin" th:action="@{/signupdatore}" method="post">
                        <h4 class="text-center intestazione_titolo"><strong>I tuoi dati</strong></h4>
                        <div class="form-group row">
                            <label for="nome-text-input" class="col-2 col-form-label">Nome</label>
                            <div class="col-10">
                                <input name="nome" class="form-control" type="text" value="Nome" id="Nome-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cognome-text-input" class="col-2 col-form-label">Cognome</label>
                            <div class="col-10">
                                <input name="cognome" class="form-control" type="text" value="Cognome" id="cognome-text-input">
                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="password-input" class="col-2 col-form-label">Password</label>
                            <div class="col-10">
                                <input name="password" class="form-control" type="password" value="password" id="password-input">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email-input" class="col-2 col-form-label">Email</label>
                            <div class="col-10">
                                <input name="email" class="form-control" type="email" value="tuoindirizzo@mail.it" id="email-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tel-input" class="col-2 col-form-label">Contatto telefonico</label>
                            <div class="col-10">
                                <input name="telefono" class="form-control" type="tel" value="1-(555)-555-5555" id="tel-input">
                            </div>
                        </div>
                        <h4 class="text-center intestazione_titolo"><strong>I dati della tua attivit&agrave;</strong></h4>
                        <div class="form-group row">
                            <label for="ragionesociale-text-input" class="col-2 col-form-label">Ragione sociale</label>
                            <div class="col-10">
                                <input name="ragionesociale" class="form-control" type="text" value="Ragione sociale della tua azienda" id="ragionesociale-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="piva-text-input" class="col-2 col-form-label">Partita IVA / Codice Fiscale</label>
                            <div class="col-10">
                                <input name="partitaiva" class="form-control" type="text" value="Partita Iva / Codice fiscale" id="piva-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="indirizzoazienda-text-input" class="col-2 col-form-label">Indirizzo</label>
                            <div class="col-10">
                                <input name="indirizzo" class="form-control" type="text" value="Via / Numero civico / Citt&agrave; / Provincia" id="indirizzoazienda-text-input">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="url-input" class="col-2 col-form-label">URL</label>
                            <div class="col-10">
                                <input name="sitoweb" class="form-control" type="url" value="Il tuo sito web" id="url-input">
                            </div>
                        </div>
                        <h4 class="text-center"><strong>Quali servizi offre la tua attivit&agrave;?</strong></h4>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="animazione"> Animazione</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="discoteca"> Discoteca</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="gelateria"> Gelateria</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="ristorazione"> Ristorazione</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="pizzeria"> Pizzeria</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="pub"> Pub</label>
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Conferma</button>

                    </form>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->

    </section><!-- registrazioneWin -->
</div>




</body>
</html>